@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  padding: 0px;
	margin: 0px;
  font: 16px "Roboto", sans-serif;
	background-color: #333;
	height: 100vh;
	width: 100vw;
}
.container-header {
	display:flex;
	background-color: #0083cf;
}

.header-title {
	font-size: 64px;
	color:white;
}

.container-comandos {
	position: relative;
	top: 10px;
	background: #0083cf;
	border-radius: 1rem;
	border-color: transparent;
	height: 100%;
}